*{
    margin: 0;
    padding: 0;
}
.container{
    margin: 0;
    background-image:  linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(./Assets/banner.png );
    background-color: black;
    display: flex;
    justify-content: space-between;
    min-width: 100vw;
    min-height: 100vh;
    background-size: contain;
    
}
.inner-container{
    display: flex;
    margin-top: 10px;
}
li{
    list-style: none;
    margin-right: 10px;

}
a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
a:hover{
    text-decoration: 2px  red underline;
}
img{
    background-size: contain;
}