*{
    margin: 0;
    padding: 0;
}
.container{
    margin: 0;
    background-image:  linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(./Assets/banner.png );
    background-color: black;
    display: flex;
    justify-content: space-between;
    min-width: 100%;
    min-height: 100vh;
    background-size: contain;
    
}
.inner-container{
    display: flex;
    margin-top: 10px;
}
li{
    list-style: none;
    margin-right: 10px;

}
a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.inner-container li a::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.inner-container li a::after:hover{
    width: 100%;
}
img{
    background-size: contain;
}